body {background-color: rgb(78, 78, 110);} 

h1 {color: white;}

h3 {color: yellow;}

li {color: white;}

h2 {color: black; background-color: yellow; border: black 2px solid;}

#astronomy-class {color: rgb(233, 95, 95);}